.gbpe-cta {
    margin-top: var(--gbpe-cta-space-top, 0);
    margin-top: var(--gbpe-cta-space-bottom, 0);

    &__inner {
        padding: var(--gbpe-cta-ve-space, 65px ) var(--gbpe-cta-ho-space, 50px);
        border-radius: var(--gbpe-cta-border-radius, 5px);
        border: 1px solid var(--gbpe-cta-border-color, #f4f7fe);
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__desc {
        width: 75%;
    }

    &__link {
        flex: 0 0 auto;
        text-align: right;
        width: 25%;

        a {
            background: var(--gbpe-cta-primary-color, #1b44bf);
            border: 1px solid var(--gbpe-cta-primary-color, #1b44bf);
            border-radius: var(--gbpe-cta-border-radius, 5px);

            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-size: 15px;
            line-height: 1.5;
            padding: 12px 35px;
            transition: background .3s ease, color .3s ease;
            vertical-align: middle;
            text-decoration: none;
            text-align: center;
            color: #fff;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__title {
        line-height: 1.2;
        margin-bottom: .5rem;
    }

    &__text {
        margin-bottom: 0;
    }
}