.gbpe-headline {
    padding-top: var(--gbpe-headline-padding-top, 80px);
    padding-bottom: var(--gbpe-headline-padding-bottom, 80px);

    &__inner {
        text-align: var(--gbpe-headline-text-align, left);
    }

    &__before {
        border: 1px solid #dee2e6;
        display: inline-block;
        font-weight: 500;
        color: var(--dt-primary-color);
        padding: 8px 20px 8px 20px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    &__title {
        margin-top: 0;
        line-height: 1.2;
        margin-bottom: .5rem;
    }

    &__desc {
        font-size: 16px;
        margin-bottom: 25px;
        margin-top: 0;
        margin-bottom: 0;
    }
}